body{
  background-color: rgb(167, 204, 216);
}
.midasi,h2,h3{
  color: white;
}

/* header{
  background-color: skyblue;
  color: rgb(25, 134, 242); 
  
 } */
.head {
  color: rgb(67, 152, 237);
  background-color: skyblue;
}
button{
  padding: 5px 20px;
  background-color: rgb(119, 223, 249);
  color: white;
  border-bottom: 3px solid rgb(25, 50, 57);
  border-radius: 100vh;
  margin-top: 3px;

}
